<?xml version="1.0" encoding="utf-8"?>
<config>
  <package_name>serde</package_name>
  <repository_url>https://crates.io/api/v1/crates/</repository_url>
  <test_repository_mode>false</test_repository_mode>
  <output_filename>dependency_graph.png</output_filename>
  <package_filter></package_filter>
</config>